.vmodal.open .modal-shadow,
.vmodal.open .modal-window {
	opacity: 1;
	z-index: 1000;
}

.vmodal.open .modal-window {
	transform: translateY(100px);
}

.vmodal.hide .modal-shadow {
	opacity: 1;
	z-index: 1000;
}

.vmodal.hide .modal-window {
	transform: translateY(-100px);
	opacity: 1;
	z-index: 1000;
}

.modal-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: -1;
	transition: opacity 0.2s ease-in;
}

.modal-window {
  width: 500px;
  background: #fff;
	border-radius: 5px;
	margin: 0 auto;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.5s ease-in;
	transform: translateY(-100px);
	transition: transform 0.2s ease-in;
}

.modal-header {
  margin: 0;
  padding: 11px;
}

.modal-title {
  font-size: 1.6rem;
}

.modal-close {
  cursor: pointer;
	color: #ec0202;
}

.modal-body {
  padding: 11px;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  padding: 5px 5px;
  margin: 0;
}
